a {
  text-decoration: none;
}
figure {
  padding: 0;
  margin: 0;
}
h1, h2, h3 {
  margin: 0;
}

.App-header {
  padding: 10px 20px;
  box-shadow: 0 5px 20px grey;
}
.App-header .inner {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.App-header .left {
  display: flex;
}
.App-header .logo {
  color: #1E00D6;
  font-size: 40px;
  margin-right: 50px;
}
.App-header .postButton {
  font-size: 1.3rem;
  background: #1E00D6;
  color: white;
  border-radius: 10px;
  padding: 8px 20px 5px;
  margin: auto;
}
.App-header .postButton .icon {
  font-size: 30px;
  vertical-align: middle;
  margin-left: 20px;
}
.App-header .account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  color: black;
}
.App-header .account .icon {
  text-align: center;
}
.App-header .account .text {
  font-size: 1rem;
  color: black;
}

.App-main {
  max-width: 1300px;
  margin: 80px auto;
}
.App-main .search-block {
  display: flex;
  max-width: 1000px;
  margin: auto;
}
.App-main .search-block > * {
  width: 30%;
}
.search-block > .category,
.search-block > .search {
  border: none;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.08);
  font-size: 1rem;
  padding: 10px 30px;
  margin: 0 20px;
}
.buttonSearch {
  display: block;
  max-width: fit-content;
  border-radius: 10px;
  font-size: 1.3rem;
  background-color: #FF6E14;
  color: white;
  padding: 5px 30px;
}
.buttonSearch .search {
  margin: auto 20px auto 0;
  vertical-align: middle;
}
.buttonSearch .icon {
  font-size: 30px;
  vertical-align: middle;
}

.list-posts {
  margin: 50px 0;
}
.list-posts h2 {
  margin: 80px 0 30px;
}
.list-posts .post {
  display: flex;
  box-shadow: 0 0 10px grey;
  margin: 50px 0;
}
.list-posts .post .image {
  width: 20%;
  background: lightgrey;
}
.list-posts .post .right {
  position: relative;
  width: 80%;
  border-radius: 10px;
  padding: 20px;
}
.list-posts .post .right .title {
  font-size: 1.5rem;
  margin: 0 0 10px 0;
}
.list-posts .post .right .price {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.2rem;
  margin: 10px 0;
}
.list-posts .post .right .details {
  display: 	block;
  width: fit-content;
  border-radius: 10px;
  background: #1E00D6;
  color: white;
  padding: 10px 30px;
  margin: 80px auto 0;
}

.post-details {
  display: flex;
  justify-content: space-between;
}
.post-details .left {
  width: 60%;
  box-shadow: 0 0 10px grey;
  border-radius: 10px;
}
.post-details .right {
  width: 35%;
  height: fit-content;
  box-shadow: 0 0 10px grey;
  border-radius: 10px;
  padding: 30px 0;
}
.post-details .left .image {
  background: lightgrey;
  max-width: 55%;
  height: 400px;
  margin: 0 auto;
}
.post-details .infos {
  position: relative;
  padding: 50px;
}
.post-details .infos .title {
  font-size: 1.8rem;
}
.post-details .infos .price {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 1.2rem;
}
.post-details .account {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 50px;
}
.post-details .account > span {
  display: block;
}
.post-details .account .icon {
  font-size: 40px;
  margin-right: 20px;
}
.post-details .account .text {
  font-size: 1.5rem;
}
.post-details .contact {
  display: block;
  width: fit-content;
  font-size: 1.3rem;
  background: #1E00D6;
  color: white;
  border-radius: 10px;
  padding: 10px 30px;
  margin: auto;
}

.App-login {
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 0 10px grey;
  padding: 50px;
  margin: 80px auto;
}
.App-login > * {
  display: block;
  margin: auto;
}
.App-login .title {
  text-align: center;
  font-size: 1.8rem;
  margin: 20px 0 50px;
}
.App-login input {
  width: 300px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  border: none;
  padding: 20px;
  margin: 20px auto;
}
.App-login .bottom {
  display: flex;
  justify-content: space-between;
  max-width: 340px;
  font-size: 0.8rem;
  color: #1E00D6;
}
.App-login .bottom .register {
  color: #1E00D6;
}
.App-login .submit {
  display: block;
  border: none;
  border-radius: 10px;
  background: #1E00D6;
  color: white;
  font-size: 1.2rem;
  padding: 10px 30px;
  margin: 50px auto 0;
  cursor: pointer;
}